*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #007065;
}

.traingle1{ 
    height: 0;
    width: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 125px solid #FFEECF;
    filter: drop-shadow(0px 50px 0px  #F5C181) drop-shadow(0px 50px 0px  #00A790);
}